/*html,*/
/*body {*/
/*    height: 100%;*/
/*}*/

body {
    color: white;
    background-color: #202020;
    margin: 0 50px;
}

#root {
    height: 100%;
}

.link {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

